body {  
    font-family: Arial, sans-serif;  
}  

h1 {  
    text-align: center;  
}  

#items {  
    margin: 20px auto;  
    max-width: 600px;  
    text-align: left;  
}  

form {  
    max-width: 600px;  
    margin: 20px auto;  
}  

input {  
    margin: 5px;  
    padding: 10px;  
    width: calc(50% - 22px);  
}  

button {  
    padding: 10px 15px;  
}